<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/download.css">
    <title>下载列表</title>
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <script src="../js/download.js"></script>
</head>
<body>
    <button class="reten" onclick="jump_to_index();" method="get"><-返回主页</button>
    <h1>文件列表</h1>
    <table align="center">
        <tr>
            <td class="name">example</td>
            <td class="dx">大小: XX MB</td>
            <td>
                <a href="wj/example" download="example">
                    <button class="download">下载</button>
                </a>
            </td>
        </tr>
    </table>
    <div class="di">
        <h4 class="jy">BY 阳帆<br>备案？等beta0.2再说：）</h4>
    </div>
    
</html>