<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>阳帆的web服务器v1.0</title>
    <link rel="stylesheet" type="text/css" href="../static/css/login.css">
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
 
</head>
<body>
    <div class="body_title">
        请登录	 
    </div>
    <form action="/hpnt/login" method="POST">
        <p>用户名<br>
            <input type="text" name="username" class="textinput" placeholder="请输入用户名（你的名字）">
        </p>
        <p>密码<br>
            <input type="password" name="password" class="textinput" placeholder="请输入密码（默认123456）">
        </p>
        <p>
            <input type="submit" value="提交" onclick="alert('如果密码正确, 将会自动跳转到index.html, 否则请重新输入');">
            <input type="reset" value="重置">
        </p>
    </form>
    <div class="di">
        <h4 class="jy">BY 阳帆<br>如有建议请发至yangfan111019@126.com</h4>
    </div>
    
    <script type="text/javascript" src="../static/js/login.js"></script>
</body>
</html>